<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= link_to 'Show', [song.artist, song] %></td>
    <td><%= link_to 'Edit', edit_artist_song_path(song.artist, song) %></td>
    <td><%= link_to 'Destroy', [song.artist, song], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
